@model Llprk.Web.UI.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>@Html.DisplayFor(model => model.Name)</legend>

    <p>
        @Html.DisplayFor(model => model.Description)
    </p>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
