@{
    ViewBag.Title = "New";
}

<form method="post" action="@Url.Action(MVC.Admin.Pages.Create())" class="form" data-bind="submit:submit,with:model">
    <fieldset>
        @Html.Partial(MVC.Admin.Pages.Views._Form)

        <hr />

        <div class="row">
            <div class="col-xs-9 col-xs-offset-3">
                <button type="submit" class="btn btn-success">Add Page</button>
                <small>or</small>
                <a href="@Url.Action(MVC.Admin.Pages.Index())">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>

@section scripts {
    <script type="text/javascript">
        require(["app/pages/new"], function (main) {
            main({
            });
        });
    </script>
}
