@model Llprk.Web.UI.Models.Order

<div class="span12">

    @using (Html.BeginForm()) {
        <fieldset>
            <legend>Are you sure you want to delete this order?</legend>
            <p class="muted">
                @Html.DisplayFor(model => model.Id)
            </p>
        </fieldset>
        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-small btn-danger" />
            <small class="muted">or</small>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
