@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<style>
</style>


<div style="padding: 20px;>
    <div class="container">
        <div class="row">
            <div class="offset2 span4">
                <h4>about the founders</h4>
            </div>
        </div>
        <div class="row">
            <div class="offset2 span4">
                <p>
                    Hoonie und Lilly Park sind die Gründer des
Freedom Projects “ShowYourLove”. Das Projekt
wurde 2012 ins Leben gerufen. Sie wollen eine
Veränderung und ein Umdenken in ihrer
Gesellschaft vor Ort sehen und neue Möglichkeiten
und Lebensqualität für Opfer des Menschenhandels
schaffen.
Hoonie und Lilly Park leben derzeit in Deutschland.	
                </p>
                <h5>ENJOY BAGS & change a life</h5>
                <br />
            </div>
            <div class="span3">
                <img src="@Url.Content("~/images/about/founders.jpg")" width="180" class="img-polaroid pull-right" />
            </div>
        </div>
        <div class="row">
            <div class="offset2 span4">
                <h4>Kontaktieren Sie uns: </h4>
                <p>
                    Lilly Park, Wiesenweg 5<br />
                    95659 Arzberg-Röthenbach, Germany<br /><br />
                    +49 (0)170 906 22 35<br />
                    <a href="mailto:showyourlove@lillypark.com">ShowYourLove@lillypark.comi</a><br />
                    <a href="http://facebook.com/ShowYourLove.info">facebook.com/ShowYourLove.info</a><br />
                    <a href="http://lillypark.com">lillypark.com</a><br />
                    <a href="http://taschenparty.net">taschenparty.net</a>
                </p>

            </div>
        </div>
    </div>
</div>


@section scripts {
}