@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div class="container" id="main">
    <div class="row" style="padding-top: 20px;">
        <div class="span12">
            <h2>About</h2>
        </div>
    </div>
</div>
