@{
    ViewBag.Title = "Impressum";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}


<div class="container" id="main">
    <div class="row" style="padding-top: 20px;">
        <div class="span12 align-center">
            <h2>Impressum</h2>

            <pre>
-- Firma --
-- Adresse --

Sitz der Gesellschaft: -- Ort --
Handelsregister: -- Ort --
Handelsregistereintrag: -- Nr --
Steuernummer: -- Nr --
Umsatzsteuer-Identifikationsnummer: -- NR --

Verantwortlicher Geschäftsführer -- Name --
            </pre>
        </div>
    </div>
</div>