@model IEnumerable<Llprk.Web.UI.Models.Picture>

@{
    ViewBag.Title = "Index";
}

<div class="span12">
    <div class="buttons">
        @Html.ActionLink("Add Picture", "Create", null, new { @class="btn btn-small btn-success" })
    </div>
    <ul class="thumbnails">
        @foreach (var item in Model)
        {
            <li class="span2">
                <div class="img-polaroid">
                    <img src="@item.ThumbnailUrl" />
                    <a href="@Url.Action("delete", new { id = item.Id })"><i class="icon-trash"></i></a>
                </div>
                <small class="muted">@item.Name&nbsp;</small>
            </li>
        }
    </ul>
</div>
