body {
    font-family: "Droid Serif", sans-serif;
    color: #404040;
}

h3 {
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 32px;
}

header {
    text-align: center;
}
    header h1#logo {
        font-family: "Open Sans Condensed", sans-serif;
        text-transform: uppercase;
    }

    header nav {
        width: auto;
        margin: 0 auto;
        border-top: 4px double lightgray;
        border-bottom: 4px double lightgray;
        padding: 10px 0;
        margin-top: 20px;
    }

        header nav > a {
            font-size: 16px;
            line-height: 18px;
            font-family: "Open Sans Condensed", sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #404040; 
            border-right: 1px solid lightgray;
            padding-right: 10px;
            padding-left: 6px;
        }
        header nav > a.active {
            color: #000;
        }

#main {
}
    #main h3 {
        color: #404040;
        text-align:center;
        height: 50px;
        border-top: 1px solid lightGray;
        border-bottom: 1px solid lightGray;
        letter-spacing: normal;
        font-weight: normal;
        padding: 12px 0 4px;

    }

footer {
    font-size: 13px;
    color: #404040;
    border-top: 1px solid lightGray;
    background: whiteSmoke;
    padding: 20px 0 10px; 
}

/* Large desktop */
@media (min-width: 1200px) {
}

@media (max-width: 768px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

