@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

html {
    background: #fff;
}

body {
    background: white;
    margin-top: 70px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

a:hover { text-decoration: none; }

header {
    background: white;
    box-shadow: 2px 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; right: 0; left: 0;
    min-height: 70px;
    z-index: 102;
    padding: 0 10px;
}

header h1 {
    float: left;
    margin-top: 15px;
    letter-spacing: -1px;
    font-family: 'Arial Black', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

header nav {
   margin-top: 35px;
}

footer nav {
    margin-top: 1em;
    text-align: right;
}

nav > a {
    color: #b7b7b7;
    margin: 0 .5em;
    text-transform: lowercase;
    font-family: "Source Sans Pro";
    font-size: 1em;
    font-weight: 400;
}
nav > a.active {
    color: #000;
}

    /* Die Anzahl über dem Warenkorb. */
    nav > a > .badge {
        position: relative;
        top: -6px;
        opacity: .6;
        margin-left: 2px;
    }

#basket {
    background: #00b9e3 url(images/shop/cart-bg.gif) repeat;
    font-family: Georgia, "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin-top: 70px;
    z-index: 100;
    display: none;
}
#basket .span12 {
    color: #f5f5f5;
    padding: 1em;
}

#basket .table > thead > tr > th {
    font-style: italic;
    font-weight: normal;
}
#basket .table > tbody > tr > td {
    border-color: #f5f5f5;
}
#basket select {
    height: 25px;
}

#basket h4 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

#main {
    background: #e8e8e8 url(images/shop/bg.png);
    /*box-shadow: -2px 0 5px rgba(0,0,0,.5);
    */z-index: 101;
    position: relative;
}

#main .explanation {
    color: #7b7b7b;
    margin: 1em 0 2em;
    font-weight: 200;
    font-size: 24px;
    font-family: "Source Sans Pro";
    line-height: 1.5em;
    text-transform: lowercase;
    letter-spacing: 1px;
}

#main h2 {
    color: rgba(255,255,255,0.298039);
    font: 72px "Source Sans Pro", Arial, sans-serif;
    font-weight: 100;
    text-shadow: rgba(0,0,0,.2) -1px -1px 0px;
    text-transform: lowercase;
}

#main img.product {
    height: auto;
}

#main .products {
    padding-bottom: 2em;
}
    #main .products span {
        color: #8c8c8c;
        font-weight: 400;
        font-size: 1.2em;
        font-family: "Source Sans Pro";
        letter-spacing: 1px;
    }

#main .detail {
    background-color: #f1dcaf;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.5);
}
    #main .detail img {
        max-width: 400px;
        height: auto;
    }

    #main .detail h2 {
        color: white;
        text-shadow: none;
    }

footer {
    background: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
    z-index: 203;
    position: relative;
}
    footer .copyright {
        margin-top: 1em;
        color: #7b7b7b;
        font-size: .8em;
        text-align: right;
    }

#cart {
    width: 350px;
}


/* Spinner Animation
   ------------------------------------------------*/
#spinner.active {
    display: block;
}
#spinner {
    display: none;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 40%;
    left: 41%;
    z-index: 1;
}
.ball {
    position: absolute;
    display: block;
    background-color: #567f9a;
    left: 24px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
#first {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 6px 30px;
    -moz-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 6px 30px;

}
#second {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.5, 0.9, 0.9);
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 6px 30px;
	  -moz-animation-timing-function: cubic-bezier(0.5, 0.5, 0.9, 0.9);
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 6px 30px;
}
#third {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.7, 0.9, 0.9);
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 6px 30px;
	  -moz-animation-timing-function: cubic-bezier(0.5, 0.7, 0.9, 0.9);
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 6px 30px;
}

input.ng-invalid {
    border-color: red;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  100% { 
    -webkit-transform: rotate(1440deg) scale(1); 
  }
}​

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }
  100% { 
    -moz-transform: rotate(1440deg) scale(1); 
  }
}


/* Large desktop */
@media (min-width: 1200px) {
}

@media (max-width: 768px) {
  body {
    margin-top: 0;
  }

  header {
    position: relative;
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    header h1 { margin-top: 0; }

    header nav {
      margin-top: 0;
      float: none !important;
      text-align: center;
    }
    header nav a { white-space: nowrap; }

    header h1 {
      display: block;
      float: none;
      text-align: center;
    }

    section#main h2 {
      font-size: 48px;
    }

    section#main .span3 {
      width: 150px;
      display: inline-block;
      text-align: center;
    }

    #cart {
        width: auto;
        right: 2px !important;
        left: 3px;
    }

    #main .details  {
        text-align: center;
    }
    #main .details .span6 {
        display: none !important;
    }
    #main .details .span1 {
        max-width: 100%;
        text-align: center;
    }

        #main .details .caption {
            margin: 20px 15px;
            text-align: justify;
        }
}

