@import url(fonts.css);

@import url(cart-spinner.css);
body {
  background: #e8e8e8 url(../images/bg/bright_squares_sep.png);
  padding-top: 10px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  border-top: 4px solid #00b9e3;
}
a {
  color: #333;
  -webkit-text-shadow: 1px 1px #fff;
  text-shadow: 1px 1px #fff;
}
a:hover {
  text-decoration: none;
}
h2 {
  color: rgba(255, 255, 255, 0.29804);
  font: 48px Pacifico, "Source Sans Pro", Arial, sans-serif;
  font-weight: 100;
  -webkit-text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 0px;
  text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 0px;
  text-transform: lowercase;
}
hr {
  border-top: 1px dashed #c7c7c7;
  border-bottom: 1px dashed #fff;
  margin: 10px 0;
}
header {
  padding: 10px;
}
header.categories {
  border: 1px dashed #d8d8d8;
  border-left: none;
  border-right: none;
}
header h1 {
  margin-bottom: 15px;
  font-family: 'Arial Black', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  color: #00b9e3;
  line-height: 60px;
  letter-spacing: -7px;
  display: inline-block;
}
header h1 span {
  position: relative;
  display: inline-block;
}
header .logo span.char1 {
  color: #DB6369;
}
header .logo span.char2 {
  color: #EBD581;
}
header .logo span.char3 {
  color: #E0BD63;
}
header .logo span.char4 {
  color: #C0D5EB;
}
header .logo span.char5 {
  color: #E0BD63;
}
header .logo span.char6 {
  color: #33BCD4;
}
header .logo span.char7 {
  color: #DB6369;
}
header .logo span.char8 {
  color: #E0BD63;
}
header .logo span.char9 {
  color: #33BCD4;
}
header #flower {
  display: inline-block;
}
header nav.cart {
  margin-top: 28px;
  position: relative;
}
#showyourlove {
  position: absolute;
  left: 0px;
  top: 3px;
  z-index: 999;
}
nav > a {
  color: #33BCD4;
  margin: 0 .5em;
  text-transform: lowercase;
  font-family: Pacifico, "Source Sans Pro";
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5em;
}
nav > a.active {
  color: #00b9e3;
}
nav > a > .badge {
  position: relative;
  top: -3px;
  left: 10px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background: none;
  border: 2px dotted #666;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  padding: 5px 9px;
  color: #333;
  font-size: 12px;
  font-weight: normal;
}
article a {
  color: #333;
  -webkit-text-shadow: none;
  text-shadow: none;
}
#cart {
  right: 10px;
  left: auto;
  top: auto;
  z-index: 9999;
  width: 350px;
}
#basket {
  background: #00b9e3 url(images/shop/cart-bg.gif) repeat;
  font-family: Georgia, "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin-top: 70px;
  z-index: 100;
  display: none;
}
#basket .span12 {
  color: #f5f5f5;
  padding: 1em;
}
#basket .table thead > tr > th {
  font-style: italic;
  font-weight: normal;
}
#basket .table tbody > tr > td {
  border-color: #f5f5f5;
}
#basket select {
  height: 25px;
}
#basket h4 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
#main {
  z-index: 101;
  position: relative;
  margin-top: 10px;
}
#main .explanation {
  color: #7b7b7b;
  margin: 2em 0 0;
  font-weight: 200;
  font-size: 24px;
  font-family: "Source Sans Pro";
  line-height: 1.5em;
  text-transform: lowercase;
  letter-spacing: 1px;
}
#main img.product {
  height: auto;
}
#main .products {
  padding-top: 10px;
  padding-bottom: 10px;
}
#main .products span {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
  display: inline-block;
  background: #DB6369;
  padding: 2px 6px;
  position: absolute;
  top: 16px;
  right: 0px;
  color: #f1f1f1;
  -webkit-text-shadow: none;
  text-shadow: none;
}
#main .detail {
  background-color: #f1dcaf;
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}
#main .detail img {
  max-width: 400px;
  height: auto;
}
#main .detail h2 {
  color: white;
  -webkit-text-shadow: none;
  text-shadow: none;
}
.menu {
  background: transparent;
  text-align: left;
}
.menu li {
  border-bottom: 1px dashed #c7c7c7;
  padding: 20px 0;
}
.menu li:hover {
  background: #E0BD63;
}
.products h2 {
  margin-top: 80px;
  line-height: 1.1em;
}
.products .product {
  background: #fff;
  border-radius: 2px;
  margin-top: 20px;
  padding-top: 20px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  position: relative;
  min-height: 100px;
}
.products .product .info {
  margin: 0;
  margin-top: 20px;
}
.products .product img {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.products .product:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
footer {
  z-index: 203;
  position: relative;
  margin-top: 20px;
}
footer .copyright {
  margin-top: 1em;
  padding-top: 1em;
  color: #7b7b7b;
  font-size: .8em;
  text-align: center;
}
footer .copyright span {
  display: inline-block;
  font-weight: bold;
}
footer nav {
  text-align: center;
}
input.ng-invalid {
  border-color: red;
}
/* Large desktop */
@media (min-width: 1200px) {
  
}
@media (max-width: 768px) {
  body {
    margin-top: 0;
  }
  header {
    position: relative;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  header nav.cart {
    margin-top: 10px;
    float: none;
    text-align: center;
  }
  #cart {
    right: auto;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  header h1 {
    margin-top: 0;
  }
  header nav {
    margin-top: 0;
    float: none !important;
    text-align: center;
  }
  header nav a {
    white-space: nowrap;
  }
  header h1 {
    display: block;
    float: none;
    text-align: center;
  }
  section#main h2 {
    font-size: 36px;
    margin-top: 0px;
  }
  section#main .span3 {
    width: 150px;
    display: inline-block;
    text-align: center;
  }
  #cart {
    width: auto;
    right: 2px !important;
    left: 3px;
  }
  #main .details {
    text-align: center;
  }
  #main .details .span6 {
    display: none !important;
  }
  #main .details .span1 {
    max-width: 100%;
    text-align: center;
  }
  #main .details .caption {
    margin: 20px 15px;
    text-align: justify;
  }
}
