html {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px 20px;
  background: #fff;
}
header h2 {
  display: inline-block;
  margin-right: .5em;
  color: #999;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: bold;
  font-family: 'Arial Black', Arial, sans-serif;
}
header > a {
  margin: 0 .5em;
  color: #999;
  font-size: 16pt;
  font-family: Pacifico, Georgia, serif;
}
header > a.active {
  color: #333;
}
header > a:hover {
  text-decoration: none;
}
header > a.orders:hover + ul.orders {
  display: block;
}
header > a.config:hover + ul.config {
  display: block;
}
header ul.orders {
  position: absolute;
  left: 410px;
  margin-top: -10px;
}
header ul.orders:hover {
  display: block;
}
header ul.config {
  position: absolute;
  left: 495px;
  margin-top: -10px;
}
header ul.config:hover {
  display: block;
}
#main {
  margin-top: 10px;
}
.container {
  position: relative;
}
footer {
  clear: both;
  height: 100px;
  text-align: center;
  font-size: .8em;
}
.modal-body li {
  cursor: pointer;
}
.modal-body li.selected .img-polaroid {
  border-color: red;
  background: rgba(255, 0, 0, 0.1);
}
/* login
----------------------------------------------------------*/
.nopadding {
  padding: 0 !important;
}
.nopadding .table {
  margin-bottom: 0;
}
.nopadding .table-bordered {
  border: 0;
}
/* Buttons
   --------------------------------------------- */
.buttons {
  position: absolute;
  top: -45px;
  right: 0;
}
.buttons a,
.buttons form {
  display: inline-block;
}
/* Fieldsets
   --------------------------------------------- */
fieldset legend.shipped {
  border-bottom: none;
  background: url('../images/border.png') repeat-x 0px 36px;
}
.field-validation-error {
  color: red;
}
/* Media Queries
   --------------------------------------------- */
