// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/forms.less";
@import "table.less";

html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin-top: 70px;
    background: #f9f9f9;
}

header {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 99;
    padding: 0 20px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    box-shadow: 0 1px 4px rgba(0,0,0,.15);

    h2 {
        display: inline-block;
        margin-right: .5em;
        color: @text-color;
        opacity: .75;
        text-transform: uppercase;
        letter-spacing: -2px;
        font-weight: bold;
        font-family: 'Arial Black', Arial, sans-serif;
    }

    nav {
        float: right;

        > a {
            margin: 0 .5em;
            color: #999;
            display: inline-block;
            font-size: 15px;
            font-weight: bold;

            &.active {
                color: #333;
            }

            &:hover {
                text-decoration: none;
            }

            &.orders:hover + ul.orders {
                display: block;
            }

            &.config:hover + ul.config {
                display: block;
            }
        }

        ul.orders {
            position: absolute;
            left: 410px;
            margin-top: -10px;

            &:hover {
                display: block;
            }
        }

        ul.config {
            position: absolute;
            left: 495px;
            margin-top: -10px;

            &:hover {
                display: block;
            }
        }
    }
}


#main {
    margin-top: 10px;
}

.container {
    position: relative;
}

footer {
    clear: both;
    margin-top: 30px;
    text-align: center;
    font-size: .8em;
}

.modal-body li {
    cursor: pointer;

    &.selected .img-polaroid {
        border-color: red;
        background: rgba(255,0,0,.1);
    }
}

/* login
----------------------------------------------------------*/


.nopadding {
    padding: 0 !important;
}

    .nopadding .table {
        margin-bottom: 0;
    }

    .nopadding .table-bordered {
        border: 0;
    }

/* Buttons
   --------------------------------------------- */
.buttons {
    position: absolute;
    top: -45px;
    right: 0;

    a, form {
        display: inline-block;
    }
}

/* Fieldsets
   --------------------------------------------- */
form {
    margin-top: 15px;

    fieldset {
        legend {
            &.shipped {
                border-bottom: none;
                background: url('../images/border.png') repeat-x 0px 36px;
            }
        }

        > hr {
            border: 1px solid #f1f1f1;
            margin: 30px 0 30px;
        }

        .col-xs-3 > h3 {
            margin-top: 0;
        }

        .validationElement {
            background: @alert-danger-bg;
            color: @alert-danger-text;
            border-color: @alert-danger-border;
        }
    }
}

/* Form
   --------------------------------------------- */
input[type="text"],
input[type="number"],
select {
    .form-control;
}

.field-validation-error {
    color: red;
}

/* Media Queries
   --------------------------------------------- */
@media (max-width: 979px) {
}
