@model Llprk.Web.UI.Areas.Admin.Models.ProductEdit
@using Newtonsoft.Json.Converters
@using Newtonsoft.Json

@{
    ViewBag.Title = "Edit";
}

<div class="col-xs-12">
    <form action="@Url.Action(MVC.Admin.Products.Update(Model.Model.Id, null))" method="post" data-bind="submit:submit">
        <fieldset>
            @Html.Partial("_Form", Model)
        </fieldset>
    </form>
</div>

@section scripts {
    <script type="text/javascript">
        require(["app/products/edit"], function (main) {
            main(
                @Html.Raw(JsonConvert.SerializeObject(Model, System.Web.Http.GlobalConfiguration.Configuration.Formatters.JsonFormatter.SerializerSettings))
            );
        });
    </script>
}
