@{
    ViewBag.Title = "CancelPayPal";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<style>
	 .container.paper {
		background: #f7f7f7;
		border: 1px solid #d8d8d8;
		box-shadow: 0 3px 6px rgba(0,0,0,.2);
		padding: 10px 0 30px 0;
		margin-top: 20px;
		text-align: center;
	}
        .container.paper p,
        .container.paper h3 {
			margin: 0 20px;
		}
        .container.paper a {
			color: #33BCD4;
		}
</style>

<script>
	$(function () {
		localStorage.setItem('lillypark-cartitems', JSON.stringify({}));
	});
</script>

<div class="container paper">

    <div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Bezahlung abgebrochen</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        Du hast die Bezahlung mit PayPal abgebrochen d.h. du kannst es @Html.ActionLink("du kannst es noch einmal versuchen", "create", new { orderId = ViewBag.OrderId }, null)
                        oder es lassen. Wir heben Deine Bestellung zwei Tage für Dich auf, danach stornieren wir Deine Bestellung.
                    </p>
                    <br />
                    <p>
                        @Html.ActionLink("Zurück zum Shop", "index", "shop")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
