@model Llprk.Web.UI.ViewModels.OrderNew
@{
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div class="container paper">

    <div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h3>Vielen Dank für Deine Bestellung.</h3>
                    <h4>Wir versenden Dein Packet so schnell als möglich.</h4>
                </div>
            </div>

        </div>
    </div>

</div>
