@model Llprk.Web.UI.Areas.Admin.Models.ThemeContent
@using Newtonsoft.Json.Converters
@using Newtonsoft.Json
@{
    Layout = null;
}
<div class="text-center text-muted">
    <h2>Unsupported</h2>
    <h3>We do not support this file type.</h3>
</div>

<script type="text/javascript">
</script>
