@model Llprk.Web.UI.ViewModels.ShopCategory
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<section id="main" ng-controller="ProductsCtrl">
    <div class="container">
        <div class="row align-center">
            <h2 class="categoryName">@Model.Category.Name</h2>
        </div>
        <div class="row align-center">
			@Html.Partial("~/Views/Shop/_Category.cshtml", Model.Products);
        </div>
    </div>

</section>

@section scripts {
    <script type="text/javascript">
    	angular.module('ShopApp.Values')
            .value('products', @Html.Raw(Json.Encode(Model.Products.Select(p => new {
                              Name = p.Name,
                              Price = p.Price,
                              Id = p.Id,
                              ThumbailUrl = p.FirstPicture == null ? "" : p.FirstPicture.ThumbnailUrl
                          })))
            );
    </script>
}

