@model Llprk.Web.UI.ViewModels.ShopIndex
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<section id="main" ng-controller="ProductsCtrl">
    <div class="container">
        @foreach(var cp in Model.Categories) {
            @Html.Partial("~/Views/Shop/_Category.cshtml", cp);
        }
    </div>

    <div class="container">
        <div class="row align-center explanation">
            <div class="span12">
                <p>
                    Jede Tasche ist einzigartig.<br />
                    Darum gibt es sie auch nur genau ein mal.
               
                    <br />
                    Schnapp dir deine tasche!
           
                </p>
            </div>
        </div>
    </div>

</section>

@section scripts {
    <script type="text/javascript">
        angular.module('ShopApp.Values', [])
            .value('products', @Html.Raw(Json.Encode(Model.Products.Select(p => new {
                                            Name = p.Name,
                                            Price = p.Price,
                                            Id = p.Id,
                                            ThumbailUrl = p.FirstPicture == null ? "": p.FirstPicture.ThumbnailUrl 
                                         })))
            );
    </script>
}

