<img src="{{ 'lillypark.png' | image_url }}" class="img img-thumbnail"></img>
<img src="{{ 'banner-01.jpg' | image_url }}"></img>
<h1>{{ page_title }}</h1>

<p>
	Anzahl der Produkte: {{ products | size }}
</p>

{% for product in products %}
	<hr/>
	{% include product_item with product %}
{% endfor %}