{% comment %}
For the checkout and update buttons to work, they need to use
a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive!
{% endcomment %}

<h1>{{ product.name }}</h1>
Preis {{ product.price | price }}

{% if product.has_picture %}
	<img src="{{ product.featured_picture.url }}" />
{% endif %} 

<form action="{{ add_to_cart_url }}" method="post" enctype="multipart/form-data">
  <label for="qty">Menge</label>
  	<input type="text" id="qty" name="qty" value="1" class="form-control" />	
  	<input type="submit" name="add" id="add" class="btn btn-primary" value="In den Warenkorb">
</form>

{% comment %} ENDE {% endcomment %}
